.login-container {
  max-width: 1000px;
  height: 60vh;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  align-content: center;

  padding: 20px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
.card
{
  display: flex;
  gap: 0px;
}
form
{
  width: 300px;
    align-content: center;
  justify-content: center;
  padding: 20px;
}
img
{
  width: 600px;
}
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[disabled] {
  background-color: #a3c1e6;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}


@media (max-width: 840px) {
  .card {
    flex-direction: column;
    gap: 15px;
    width: 350px;
  }
  form {
    width: 90%;
    padding: 10px;
  }
  img {
 
    display: none;
  }
  .login-container {
    height: 80%; 
    padding: 15px;
  }
}