
.recipe-card {
  width: 30rem;
  height: 650px ;
  border-radius: 12px;
  overflow: hidden;
  background-color: #d0d0d0;
  justify-items: center;
 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.recipe-image {
  padding: 5%;
  border-radius: 30px;
  padding-left: 0;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.recipe-body {
  padding: 16px;
}

.recipe-title {
  font-size: 1.5rem;
  font-weight: bold;
   text-align: center;
  margin-bottom: 0.75rem;
}

.recipe-text {
  color: #3f3e3e;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}
.side-heading
{   
     
     font-size: 1rem;
    font-weight: bold;
}
